@import '../../components/variables.css';

.root {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.root div {
  flex: 1 100%;
}

.container {
  padding: 0 50px;
}

@media screen and (min-width: 1181px) {
  .root {
    margin-top: 140px;
  }
}
