@import '../../components/variables.css';

.root {
  margin: 0;
  padding: 0 0 5em;
}

.contentWrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

.heroImage {
  background-size: cover;
  width: 100%;
  height: 65vh;
  background-position: center center;
  display: flex;
  align-items: flex-end;
}

.topicHeader {
  background: rgba(0, 0, 0, 0.75);
}

.topicTitle {
  padding: 10px 20px 0;
  color: white;
  font-size: 2em;
}

.topicSummary {
  font-family: var(--font-family-secondary);
  color: white;
  padding: 0 20px;
  display: block;
  font-weight: normal;
}
