@import '../variables.css';

.socialMedia {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: safe center;
  margin: 5em 0;
}

.icon {
  height: 7.5em;
  width: 7.5em;
  border-radius: 50%;
  margin: 0 1.5em;
  background: var(--neutral-light-colour);
}

.socialLink {
  text-decoration: none;
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #00aced;
}

.linkedin {
  background: #007bb6;
}

.medium {
  background: #111;
}
