@import '../variables.css';

.root {
  background: var(--neutral-light-colour);
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 2em 0;
  max-width: var(--max-content-width);
  text-align: center;
}

.title {
  color: var(--primary-text-colour);
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

.cta {
  margin: 0;
  padding: 0.45em 0;
  font-size: 0.85em;
  color: var(--tertiary-text-colour);
}

.socialMedia {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: safe center;
  padding: 1em 0;
}

.iconContainer {
  background: url('./button.png') center center no-repeat;
  width: 3em;
  height: 3em;
  margin: 0 1em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 1em;
}

.facebookIcon {
  height: 1.5em;
}
