@import '../variables.css';

.questions {
  display: flex;
  flex-wrap: wrap;
  list-style-image: url(/bullet.png);
  list-style-position: outside;
}

.question {
  flex-basis: 50%;
}

.questionLink {
  text-decoration: none;
}

.questionText {
  margin: 0;
  padding: 0.5em 2em 0.5em 0.5em;
  color: var(--text-colour);
}

.question:hover .questionText {
  color: var(--primary-colour);
}
