@import '../variables.css';

.root {
  background: var(--neutral-light-colour);
}

.container {
  margin: 0 auto;
  max-width: var(--max-content-width);
}

.content {
  max-width: 450px;
  padding: 2em 0;
}

.name {
  font-weight: 500;
}

.summary {
  font-size: 1em;
}
