@import '../variables.css';

.root {
  --white: rgb(256, 256, 256);
  --black: rgb(0, 0, 0);

  background: rgb(237, 237, 237);
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.pushBottom {
  padding-bottom: 5em;
}

.pushTop {
  padding-top: 2.5em;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 1em;
  overflow: auto;
  flex-wrap: wrap;
}

.floatingBox {
  padding-top: 0.5em;
  padding-right: 2em;
  padding-left: 1.5em;
  width: 20%;
  height: 60%;
  margin: 0.25em;
  text-decoration: none;
}

.small {
  padding-top: 1em;
  padding-bottom: none;
  font-size: 0.75em;
  color: var(--black);
}

.light {
  background-color: var(--white);
}

.textCenter {
  text-align: center;
  text-rendering: optimizeLegibility;
}
