@import '../variables.css';

.root {
  background: rgb(237, 237, 237);
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.categories {
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  display: inline-flex;
  width: 100%;
}

.category {
  height: 1em;
  list-style-type: none;
  color: rgb(74, 74, 74);
  text-align: left;
  font-size: 0.75em;
  font-weight: bold;
}

.categoryLink {
  color: #666;
  display: block;
  font-size: 1.1em;
  font-weight: normal;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
}

.topics {
  background: rgb(237, 237, 237);
  display: none;
  position: absolute;
  margin: 0 0 0 -10px;
  padding: 10px;
}

.category:hover .topics {
  display: block;
}

.topic {
  list-style-type: none;
  margin: 0;
  max-width: 125px;
  padding: 7px 0;
  text-align: left;
}

.topicLink {
  color: #404040;
  font-size: 1.1em;
  font-weight: normal;
  max-width: 100px;
  text-decoration: none;
}

.errorText {
  color: red;
  text-align: center;
}
