@import '../variables.css';

.root {
  background: var(--lightest-colour);
  border-bottom: solid 1px var(--neutral-medium-colour);
}

.loading {
  width: 100%;
  text-align: center;
}

.doneLoading {
  display: none;
}

.loader {
  height: 1em;
  width: auto;
  filter: invert(100%);
  opacity: 0.5;
  margin: 1em 0 0;
}

.mobileMenu {
  border: none;
  display: none;
  color: var(--primary-text-colour);
  text-align: center;
  padding: 1em 0;
  font-weight: normal;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: var(--max-content-width);
}

.categories {
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  display: inline-flex;
  width: 100%;
}

.category {
  height: 1em;
  list-style-type: none;
  text-align: left;
  font-size: 0.75em;
  font-weight: bold;
  padding: 1.5em 0 2em;
}

.categoryLink {
  color: var(--primary-text-colour);
  display: block;
  font-size: 1.15em;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
}

.topics {
  background: var(--lightest-colour);
  box-shadow: 0 2px 2px 0 var(--shadow-colour);
  display: none;
  position: absolute;
  margin: 1.5em 0 0 -1.6em;
  padding: 10px;
  z-index: 99;
}

.category:last-child .topics {
  margin: 1.5em 0 0 -95px;
}

.category:hover .topics {
  display: block;
}

.topic {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  width: 200px;
  padding: 7px 0;
  text-align: left;
}

.topicLink {
  background: none;
  border: none;
  cursor: pointer;
  color: #404040;
  font-size: 1.1em;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
}

.errorText {
  color: red;
  text-align: center;
}

@media (--medium-viewport) {
  .mobileMenu {
    display: block;
  }

  .container.hidden {
    display: none;
  }

  .container.show {
    display: block;
  }

  .categories {
    display: block;
  }

  .category {
    font-size: 1em;
    padding: 0.5em 1em;
    width: 80%;
    height: auto;
  }

  .topics {
    box-shadow: none;
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
  }

  .topic {
    cursor: pointer;
    width: 75%;
    max-width: 75%;
    padding: 0.25em 1em;
  }

  .topicLink {
    cursor: pointer;
    max-width: 100%;
  }

  .category:last-child .topics {
    margin: 0;
  }
}
