@import '../variables.css';

.root {
  background: var(--lightest-colour);
  border-bottom: solid 1px var(--neutral-medium-colour);
  box-shadow: 0 2px 6px 0 rgba(50, 50, 50, 0.25);
}

.mobileMenu {
  border: none;
  display: none;
  color: var(--primary-text-colour);
  text-align: center;
  padding: 1em 0;
  font-weight: normal;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.categories {
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  display: inline-flex;
  width: 100%;
}

.category {
  height: 1em;
  list-style-type: none;
  text-align: left;
  font-size: 0.75em;
  font-weight: bold;
}

.categoryLink {
  color: var(--primary-text-colour);
  display: block;
  font-size: 1.15em;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
}

.topics {
  background: var(--lightest-colour);
  display: none;
  position: absolute;
  margin: 0 0 0 -10px;
  padding: 10px;
}

.category:hover .topics {
  display: block;
}

.topic {
  list-style-type: none;
  margin: 0;
  max-width: 125px;
  padding: 7px 0;
  text-align: left;
}

.topicLink {
  color: #404040;
  font-size: 1.1em;
  font-weight: normal;
  max-width: 100px;
  text-decoration: none;
}

.errorText {
  color: red;
  text-align: center;
}

@media screen and (width < 850px) {
  .mobileMenu {
    display: block;
  }

  .container.hidden {
    display: none;
  }

  .container.show {
    display: block;
  }

  .categories {
    display: block;
  }

  .category {
    font-size: 1em;
    padding: 0.5em 1em;
    width: 100%;
    height: auto;
  }

  .topics {
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .topic {
    max-width: 100%;
    padding: 0.25em 1em;
  }
}
