@import '../variables.css';

.root {
  display: flex;
  flex: 2;
}

.menu {
  border-right: solid 1px var(--neutral-medium-colour);
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
}

.item {
  display: block;
  margin: 0 0 0.25em;
  padding: 0.35em 1em;
  font-weight: normal;
  color: var(--primary-text-colour);
  text-decoration: none;
}

.item:hover {
  color: var(--secondary-colour);
}

.item:focus {
  outline: none;
}

.item.selected {
  background: var(--primary-text-colour);
  color: var(--lightest-colour);
}

.explanationContainer {
  flex: 2;
}

.explanation {
  display: none;
}

.explanation.selected {
  display: block;
}

.explanation img {
  width: 100%;
  height: auto;
}

.content {
  line-height: 175%;
  font-family: var(--font-family-secondary);
  padding: 0.5em 1em;
}

.content table {
  border: solid 1px var(--neutral-medium-colour);
}

.content table th {
  font-weight: 500;
  border-bottom: solid 1px var(--neutral-medium-colour);
}

@media (--medium-viewport) {
  .root {
    flex-direction: column;
    flex: 1 100%;
  }

  .menu,
  .explanationContainer {
    width: 100%;
  }

  .item {
    text-align: left;
  }

  .content {
    padding: 0 1em;
  }
}
