@import '../variables.css';

.root {
  margin: 0 auto;
  max-width: var(--max-content-width);
  height: 100%;
  display: flex;
  flex-direction: row;
}

.collection {
  width: 65%;
}

.menu {
  background: var(--neutral-dark-colour);
  width: 35%;
  list-style-type: none;
  margin: 0;
  padding: 1.5em 0;
}

.item {
  text-align: left;
  cursor: pointer;
  color: var(--lightest-colour);
  display: block;
  background: none;
  border: none;
  margin: 0;
  padding: 0.5em 1em;
  width: 100%;
  font-weight: 100;
  font-family: var(--font-family-base);
}

.item:hover {
  color: var(--primary-colour);
}

.item:focus {
  outline: none;
  background: var(--primary-text-colour);
  color: var(--lightest-colour);
}

.explanation {
  display: none;
  padding: 1em 0;
}

.explanation.active {
  display: block;
}

.title {
  font-weight: 500;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.content {
  padding: 0.5em 1em 0.5em 0;
}
