@import '../variables.css';

.root {
  display: block;
  margin: 0;
  padding: 0;
  background: var(--neutral-light-colour);
  z-index: -1;
}

.container {
  margin: 0 auto;
  padding-bottom: 2em;
  height: 25em;
  max-width: var(--max-content-width);
  width: 100%;
  display: flex;
}

.content {
  font-size: 0.95em;
  width: 100%;
  max-width: 30em;
}

.bottom {
  align-self: flex-end;
}

.top {
  align-self: flex-start;
}

.title {
  font-weight: 500;
  color: var(--primary-text-colour);
}

@media screen and (width < 1000px) {
  .content {
    padding: 0 3%;
  }
}
