@import '../../components/variables.css';

.root {
  margin: 0 10px;
  padding: 0;
}

.container h1 {
  padding: 20px 0 0;
  text-align: center;
}

@media screen and (min-width: 1181px) {
  .root {
    margin: 90px 50px 0;
  }
}
