@import '../../components/variables.css';

.root {
  margin: 0;
  padding: 0;
}

.container {
  margin: 2em auto;
  max-width: var(--max-content-width);
}

.categoryName {
  font-weight: normal;
  text-align: center;
  font-size: 2em;
}

.categoryDescription {
  text-align: center;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.categoryTopics {
  margin: 0;
  padding: 0;
}
