@import '../variables.css';

.root {
  background: var(--neutral-light-colour);
  border-left: solid 1px var(--neutral-medium-colour);
  margin: 0;
  flex: 1;
}

.container {
  padding: 1.75em 2em 0;
  margin: 0 auto;
  max-width: var(--max-content-width);
}

.title {
  font-weight: 500;
  font-size: 1.3em;
}

.couplet {
  padding: 0.5em 0 0;
}

.question {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
  margin: 0.25em 0;
  font-size: 1em;
  font-family: var(--font-family-base);
  color: var(--neutral-dark-colour);
  padding: 0.25em 0;
}

.question:hover {
  color: var(--primary-text-colour);
}

.question:focus {
  outline: 0;
}

.answer {
  max-width: 800px;
}

.answer.hide {
  display: none;
}

@media (--medium-viewport) {
  .root {
    padding: 1em;
    flex: 1 100%;
  }
}
