@import '../variables.css';

.root {
  padding-right: 1em;
}

.couplet {
  border: solid 1px var(--neutral-light-colour);
  margin: 0.2em 0;
}

.question {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
  margin: 0.25em 0;
  font-size: 1.1em;
  padding: 0.25em 1em;
}

.question:focus {
  outline: 0;
}

.answer {
  display: none;
  padding: 0.25em 1em;
  max-width: 800px;
}
