@import '../variables.css';

.root {
  padding-right: 1em;
}

.couplet {
  margin: 0.5em 0;
}

.question {
  background: none;
  border: solid 1px var(--neutral-light-colour);
  cursor: pointer;
  text-align: left;
  width: 100%;
  margin: 0.25em 0;
  font-size: 1.1em;
  padding: 0.25em 0.5em;
}

.answer {
  display: none;
}
