@import '../variables.css';

.root {
  background: url('./background.svg') center center/cover no-repeat;
}

.container {
  margin: 0 auto;
  padding: 2em 0;
  max-width: var(--max-content-width);
}

.cta {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: 60%;
  font-weight: 500;
  font-size: 1.5em;
}

.form {
  display: inline-block;
  vertical-align: top;
  padding: 1em 0;
  width: 40%;
  text-align: right;
}

.input {
  font-family: var(--font-family-base);
  border: none;
  padding: 1em;
  width: 55%;
}

.button {
  background: var(--primary-text-colour);
  color: var(--lightest-colour);
  cursor: pointer;
  font-family: var(--font-family-base);
  border: none;
  padding: 1em;
}

@media (--medium-viewport) {
  .container {
    padding: 1em;
  }

  .cta,
  .form {
    text-align: center;
    width: 100%;
  }
}
