@import '../variables.css';

.topics {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topic {
  display: flex;
  text-decoration: none;
}

.tile {
  height: 100%;
  display: flex;
  color: var(--darkest-colour);
  justify-content: space-between;
  padding: 2em 0;
}

.topic:nth-child(odd) .tile {
  flex-direction: row;
}

.topic:nth-child(even) .tile {
  flex-direction: row-reverse;
}

.thumbnail {
  padding: 0 2em;
}

.topic:nth-child(even) .tile .thumbnail {
  text-align: right;
}

.thumbnail img {
  width: 450px;
  height: auto;
  filter: grayscale(100%);
}

.title {
  background: var(--lightest-colour);
  font-size: 2em;
  font-weight: normal;
  height: 2.5em;
}

.topic:hover .thumbnail img {
  filter: none;
}

@media (--medium-viewport) {
  .topic {
    width: 47.5%;
  }
}

@media (--small-viewport) {
  .topic {
    width: 98.5%;
  }
}
