@import '../variables.css';

.topics {
  display: flex;
  flex-flow: row wrap;
  text-decoration: none;
}

.topic {
  background: white;
  margin: 10px;
  width: calc((100% / 3) - 25px);
  text-decoration: none;
  color: var(--neutral-dark-colour);
}

.topic img {
  width: 100%;
  height: auto;
}

.content p {
  font-size: 13px;
  line-height: 150%;
  font-family: var(--font-family-secondary);
  padding: 1em 2em;
  margin: 0;
}

.content .title {
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
  padding: 1em 0 0;
}
