@import '../variables.css';

.tile {
  background-color: var(--nyaaya_green);
  height: 200px;
  width: 22.5%;
  margin: 0 1.25%;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

.tile:hover {
  background-color: var(--nyaaya_blue);
}

/* .floatingBox {
  padding-top: 0.5em;
  padding-right: 2em;
  padding-left: 1.5em;
  width: 20%;
  height: 60%;
  margin: 0.25em;
} */
