@import '../variables.css';

.tile {
  padding: 0.5em;
  background-color: var(--nyaaya_blue);
  height: 200px;
  width: 20%;
  margin: 0.25em;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

.tile:hover {
  background-color: var(--nyaaya_green);
}
