.root {
  float: right;
  margin: 6px 0 0;
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 0.75em;
  text-transform: uppercase;
}

.link,
.link:active,
.link:visited,
.link:hover {
  color: rgb(255, 255, 255);
}
