@import '../variables.css';

.root {
  padding: 0.5em 2em;
  max-width: 400px;
}

.glossarySection {
  margin: 0;
  padding: 0;
}

.terms,
.definedTerm {
  margin: 0;
  padding: 0;
}

.definedTerm {
  display: none;
}

.termOption {
  font-family: var(--font-family-base);
  color: var(--neutral-dark-colour);
  cursor: pointer;
  border: solid 1px var(--neutral-medium-colour);
  background: none;
  text-align: left;
  display: inline-block;
  margin: 0.25em;
  padding: 0.25em 0.5em;
}

.termOption:hover {
  color: var(--lightest-colour);
  background: var(--neutral-dark-colour);
}

.glossaryItem {
  background: var(--lightest-colour);
  border: solid 1px var(--secondary-colour);
  height: 100%;
  padding: 1.5em;
  border-radius: 1em;
  margin: 0.5em 0;
}

.term {
  display: inline;
  color: var(--secondary-colour);
  font-size: 1.5em;
  line-height: 125%;
  font-weight: 500;
}

.definition {
  font-weight: normal;
  padding: 1em 0;
}

@media (--medium-viewport) {
  .root {
    padding: 1em;
  }

  .glossaryItem {
    display: block;
  }

  .term,
  .definition {
    width: 100%;
    border: none;
  }
}
