@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  background-image: -ms-linear-gradient(left, #00ea54 0%, #00a2e1 100%);
  background-image: -moz-linear-gradient(left, #00ea54 0%, #00a2e1 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #00ea54), color-stop(100, #00a2e1));
  background-image: -webkit-linear-gradient(left, #00ea54 0%, #00a2e1 100%);
  background-image: linear-gradient(to right, #00ea54 0%, #00a2e1 100%);
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 10px 0;
  max-width: var(--max-content-width);
}

.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}
