@import '../variables.css';

.root {
  background-image: linear-gradient(to right, var(--primary-colour), var(--secondary-colour));
  height: 84px;
  position: relative;
  width: 100%;
  z-index: 101;
}

.container {
  background-image: linear-gradient(to right, var(--primary-colour), var(--secondary-colour));
}

.subMenu {
  margin: 0;
  padding: 0;
}

.language {
  display: block;
  text-align: center;
  width: 100%;
  padding: 5px 0 0;
}

.changeLanguage {
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.changeLanguage:hover {
  text-decoration: underline;
}

.mainMenu {
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 90px;
  position: relative;
  width: 150px;
}

.logo a {
  color: white;
  text-decoration: none;
  width: 214px;
}

.dots {
  display: block;
  height: 40px;
  margin: 10px auto 0;
}

.title {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 500;
  display: block;
  text-align: center;
  text-transform: lowercase;
}

.search {
  width: 25px;
  font-size: 1px;
  height: 90px;
  color: transparent;
  background: url(./search.svg) center center no-repeat;
  background-size: 20px;
}

.social {
  height: 90px;
  padding-right: 10px;
  width: 125px;
}

.social ul {
  margin: 0;
  padding: 0;
}

.social ul li {
  float: left;
  list-style-type: none;
  margin: 37px 2px 0;
}

.social ul li a {
  color: transparent;
  display: block;
  width: 25px;
  height: 25px;
  font-size: 1px;
}

.social ul li a:hover {
  opacity: 0.8;
}

.social ul li a.facebook {
  background: url(./fb.svg) no-repeat;
  background-size: 20px;
}

.social ul li a.twitter {
  background: url(./twitter.svg) no-repeat;
  background-size: 20px;
}

.social ul li a.instagram {
  background: url(./instagram.svg) no-repeat;
  background-size: 20px;
}

.social ul li a.whatsapp {
  background: url(./whatsapp.svg) no-repeat;
  background-size: 20px;
}

@media screen and (min-width: 1181px) {
  .root {
    height: 6px;
  }

  .container {
    margin: 0 50px;
  }

  .social ul li {
    margin-top: 37px;
  }
}
