@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  background-image: linear-gradient(to right, var(--primary-colour) 0%, var(--secondary-colour) 100%);
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 10px 0;
  max-width: var(--max-content-width);
}

.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}
